<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    
    <title>Login | Magazine Construções</title>
</head>
<body class="login-body">
    <div class="login-container">
        
        <h1 class="logo-login">Magazine Construções</h1>
        <p>Acesso Restrito ao Administrador</p>
        
        <form method="POST" action="index.html" class="login-form">
            
            <div class="form-group">
                <label for="username">Usuário (E-mail):</label>
                <input type="email" id="username" name="email" placeholder="seu.email@empresa.com" required>
            </div>
            
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" placeholder="Sua senha" required>
            </div>
            
            <button type="submit" class="btn-login">Entrar no Sistema</button>
        </form>
        
        <p class="back-to-site"><a href="index.html">Voltar para a Loja</a></p>
    </div>
</body>
</html>